#container {
  text-align: center;
  height: 300%;
  width:500px;
  border: 10px solid gainsboro;
  margin: auto;
}

ul {
  list-style-type: none;
  margin: auto;
  width: 500px;
  height: 300px;
  border-radius: 20px;
}

li {
  border: 1px solid gainsboro;
  border-radius: 5px;
  width: 400px;
  background-color: #fff;
  height: 50px;
  padding-top: 25px;
  margin-top: 10px;
  text-decoration: none;
  position: relative;
  font-weight: bold;
  font-size: large;
}


.close {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  font-size: 20px;
}

.close:hover {
  font-size: 30px;
  color: red;
}

#input {
  padding-left: 20px;
  margin: 30px;
  width: 220px;
  height: 30px;
  border: 2px solid brown;
  font-weight: bold;
}

.done {
  text-decoration: line-through;
  color: gray;
}

/* Responsive for Mobile */
@media only screen and (max-width: 740px) {
  ul {
    height: 400px;
    width: 300px;
    padding: 0;
    padding-top: 30px;
    padding-left: 70px;
  }

  li {
    width: 200px;
    height: 30px;
    margin-top: -1px;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 90px;
  }
}